{% extends 'bootstrap/base.html' %}
{% block styles %}
{{super()}}
  <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
{% endblock %}

{% block title %}Shmucks{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <h1>Tolerant Businesses Near You</h1>

    <table class="table">
        <thead>
            <tr>
<!--                tables headers occupy first row of .csv (translate to dict?)-->
                {% for entry in cafes[0] %}
                <th>{{ entry }}</th>
                {% endfor %}
            <tr>
        </thead>
        <tbody>
            {% for entry in cafes[1:] %}
            <tr>
<!--                here a dict would be way more legible-->
                <td>{{ entry[0] }}</td>
                <td><a href= "{{ entry[1] }}">Maps Link</a></td>
                <td>{{ entry[2] }}</td>
                <td>{{ entry[3] }}</td>
                <td>{{ entry[4] }}</td>
                <td>{{ entry[5] }}</td>
                <td>{{ entry[6] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

      <p><a href="{{ url_for('home') }}">Return to index page</a></p>

    </div>
  </div>
</div>

{% endblock %}
